@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Syne:wght@500;700;800&display=swap');

.page {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100%;
}

h1 {
    font-family: 'Syne', 'sans-serif';
    font-weight: 700;
}

.body {
    font-family: 'Questrial', 'sans-serif';
}

.fullheight {
    height: 100vh;
}

#ic1 {
    background-image: url("/book.jpg");
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 100vw;
}

#ic1 h1 {
    color: white;
    text-align: center;
    font-size: 14vh;
    margin-bottom: 0vh;
    align-self: flex-end;
    grid-template-rows: 50vh 50vh;
}

#ic1 .body {
    color: white;
    padding-top: 0vh;
    font-size: 3vh;
    text-align: center;
    align-self: flex-start;
}

#ic1 .button-main {
    align-self: center;
    width: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
}

#ic2 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.button-main {
    background: rgb(61, 0, 255);
    background: linear-gradient(125deg, rgba(0, 22, 255, 1) 0%, rgba(255, 1, 245, 1) 100%);
    background-size: 200%;
    background-position: left;
    transition: ease-in-out 0.5s;
    color: white;
    text-align: center;
    font-family: 'Questrial', 'sans-serif';
    font-weight: 400;
    align-self: center;
    font-size: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 40px;
    margin-top: 3vh;
    max-width: 10vw;
    z-index: 200;
    text-decoration: none;
}

.button-main:hover,
.button-main:focus {
    transition: ease-in-out 0.5s;
    background-position: right;
    cursor: pointer;
}

.outln {
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid white
}

.outln:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #6c03f6;
}

.card-basic {
    overflow: hidden;
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 20vh 20vh 25vh 10vh;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 0vw;
    padding: 0;
    height: 80vh;
    width: 25vw;
    border: 1px solid white;
    box-shadow: 1px 1px 15px -10px;
    border-radius: 12px;
    transition: all ease-in-out 200ms;
}

.card-basic:hover {
    box-shadow: 5px 5px 30px -5px;
    transition: all ease-in-out 200ms;
}

.card-basic h1 {
    grid-row: 1;
    font-size: 7vh;
    z-index: 10;
    text-align: center;
    align-self: baseline;
}

.card-basic .subtext {
    grid-row: 2;
    z-index: 10;
    font-size: 3vh;
    padding-top: 0.2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
    align-self: flex-start;
}

.card-basic .imgcard {
    overflow: hidden;
    position: relative;
    margin-top: -40vh !important;
    margin-left: 10vw;
    z-index: 0;
    grid-row: 4;
    grid-column: 1;
}

.card-basic .telemetrybox {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    align-self: center;
}

.card-basic .telemetry {
    margin-top: 1vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-basic .telemetry .body {
    align-self: center;
    padding-left: 1vw;
    font-size: 2vh;
    z-index: 2;
}

.card-basic .telemetry img {
    z-index: 0;
}

.card-basic .button-main {
    grid-row: 4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.contentbox {
    width: 100vw;
    overflow-x: hidden;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    height: 13vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-items: center;
    /* background-color: rgba(164, 164, 164, 0.58) */
    background: inherit;
}

.navbar:before {
    /* background: inherit; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.logo {
    padding-left: 2vw;
}

.links {
    align-self: center;
    z-index: 100;
}

.navlink {
    font-family: 'Questrial', 'sans-serif';
    mix-blend-mode: darken;
    padding-left: 5vw;
    margin-left: 0;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.navlink:hover{
    color:#1e0030;
    transition: all ease-in-out 20ms;

}

.subjects{
    width: 100vw;
    height: 80vh;
}


.subTitle{
    text-align: center;
    font-size: 10rem;
    padding-top: 8vh;
    margin-top: 10vh;
}


.subTitle p{
    color: #ac20e8;

}

.bottom{
    width: 100vw;
    height: 45vh;
    background-color: #D3D3D3;
}

.imText{
    margin-left: 2%;
    /* padding-top: 70px; */
    padding-right: 12%;

}

.imText img{
    align-items: center;
    height: 10rem;
    width: 40%;
    /* margin-top: 30px; */

}

.imText p{
    font-size: 2rem;
    color: black;
    bottom: 50px;

}

.copy{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-top: 0%;
    /* background-color: green; */
}

.copyImg img{
    width: 12px;
    padding-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.priv{
    margin-left: 55%;
    margin-top: 15px;
    margin-right: -999px;
}

.priv a{
    text-decoration: none;
    color: #1a1919;
}

.priv a:hover{
    color: #63666A;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: green; */

}

.ed{
    /* background-color: aqua; */
    width: 60%;
    margin-top: 3%;
}

.ed ol{
    list-style: none;
    /* background-color: blue; */
    position: relative;
    right: 10%;
}

.ed a{
    font-size: 20px;
    color: #63666A;
}

.ed li{
    margin-top: 30px;
    font-size: 25px;
}

.ed li:hover{
    color: #63666A;

}